body {
    position: relative;
    font-size: 30px;
    padding: 20px;
    background-color: #d5a103;
    font-family: 'Comic Sans MS', sans-serif;
    overflow: hidden;
    text-shadow: 1px 1px 0 #000;
    color: #333;
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -256px;
}

h1 {
    color: white;
}

h2 {
    font-size: 40px;
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
}

#currentgame h2:first-child {
    margin-left: 0;
}

h3 {
    color: pink;
}

.selected {
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

.player {
    color: #fff;
}

.key {
    color: #f00;
}

#currentgame {
    width: 1200px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    text-align: center;
    margin-top: 140px;

    opacity: 0;
    transition: opacity .25s ease-in-out;
}


#counter {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    font-size: 60px;
    background-color: #fff;
    border: 4px solid #000;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
    padding: 30px;
}

#badge {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    z-index: 10;
    background-color: #f00;
    padding: 20px;
    border: 15px solid #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: #fff;
    -webkit-transform:  rotate(-20deg);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}












.tournament4-wrap, .tournament8-wrap, .tournament16-wrap, .tournament32-wrap {
	text-align: center;
    margin-top: 140px;
    position: absolute;
    left: 50%;
    margin-left: -600px;

    opacity: 1;
    transition: opacity .25s ease-in-out;
}

/****** round 1 ******/
.round1-top, .round1-bottom {
	float: left;
	width: 300px;
	height: 2em;
}

.round1-top {
	line-height: 2.5em;
}

.round2-topwrap .round1-bottom {
	width: 299px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.round2-bottomwrap .round1-top {
	width: 299px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

/****** round 2 ******/

.round2-top, .round2-bottom {
	float: right;
	width: 300px;
	height: 4em;
}

.round2-top {
	line-height: 6.5em;
}


.round3-topwrap .round2-bottom {
	width: 299px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.round3-bottomwrap .round2-top {
	width: 299px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.tournament4-wrap .round2-top {
	border-bottom: 1px solid #000;
}

.round2-topwrap, .round2-bottomwrap {
	float: left;
	width: 600px;
	height: 4em;
}

/****** round 3 ******/

.round3-top, .round3-bottom {
	float: right;
	width: 300px;
	height: 8em;
}

.round3-top {
	line-height: 14.5em;
}

.round4-topwrap .round3-bottom {
	width: 149px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.round4-bottomwrap .round3-top {
	width: 149px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.tournament8-wrap .round3-top {
	border-bottom: 1px solid #000;
}

.round3-topwrap, .round3-bottomwrap, .tournament4-wrap {
	float: left;
	width: 900px;
	height: 8em;
}

/****** round 4 ******/

.round4-top, .round4-bottom {
	float: right;
	width: 300px;
	height: 16em;
}

.round4-top {
	line-height: 30.5em;
}


.round5-topwrap .round4-bottom {
	width: 149px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.round5-bottomwrap .round4-top {
	width: 149px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.round4-topwrap, .round4-bottomwrap, .tournament8-wrap {
	float: left;
	width: 1200px;
}

.tournament16-wrap .round4-top {
	border-bottom: 1px solid #000;
}

/****** round 5 ******/

.round5-top, .round5-bottom {
	float: right;
	width: 150px;
	height: 32em;
}

.round5-top {
	line-height: 62.5em;
}

.tournament32-wrap .round5-top {
	border-bottom: 1px solid #000;
}

.round5-topwrap, .round5-bottomwrap, .tournament16-wrap {
	float: left;
	width: 750px;
}

/****** round 6 ******/

.round6-top, .round6-bottom {
	float: right;
	width: 150px;
	height: 32em;
}

.tournament32-wrap {
	float: left;
	width: 900px;
}

/****** styles for the winner column ******/
.winner3, .winner4, .winner5, .winner6 {
	font-weight: bold;
	font-style: italic;
}

.winner3 {
	line-height: 8em;
}

.winner4 {
	line-height: 16em;
}

.winner5 {
	line-height: 32em;
}

.winner6 {
	line-height: 64em;
}
