body {
    font-size: 24px;
    margin: 0 auto;
    width: 800px;
    background-color: #d5a103;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 1px 1px 0 #000;
}

h2 {
    font-size: 40px;
}

h3 {
    color: pink;
}


#counter {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    width: 400px;
    height: 200px;
    font-size: 60px;
    background-color: #fff;
    border: 4px solid #000;
    text-align: center;
    line-height: 200px;
}


.tournament4-wrap, .tournament8-wrap, .tournament16-wrap, .tournament32-wrap {
	text-align: center;
}

/****** round 1 ******/
.round1-top, .round1-bottom {
	float: left;
	width: 150px;
	height: 2em;
}

.round1-top {
	line-height: 2.5em;
}

.round2-topwrap .round1-bottom {
	width: 149px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.round2-bottomwrap .round1-top {
	width: 149px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

/****** round 2 ******/

.round2-top, .round2-bottom {
	float: right;
	width: 150px;
	height: 4em;
}

.round2-top {
	line-height: 6.5em;
}


.round3-topwrap .round2-bottom {
	width: 149px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.round3-bottomwrap .round2-top {
	width: 149px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.tournament4-wrap .round2-top {
	border-bottom: 1px solid #000;
}

.round2-topwrap, .round2-bottomwrap {
	float: left;
	width: 300px;
	height: 4em;
}

/****** round 3 ******/

.round3-top, .round3-bottom {
	float: right;
	width: 150px;
	height: 8em;
}

.round3-top {
	line-height: 14.5em;
}

.round4-topwrap .round3-bottom {
	width: 149px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.round4-bottomwrap .round3-top {
	width: 149px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.tournament8-wrap .round3-top {
	border-bottom: 1px solid #000;
}

.round3-topwrap, .round3-bottomwrap, .tournament4-wrap {
	float: left;
	width: 450px;
	height: 8em;
}

/****** round 4 ******/

.round4-top, .round4-bottom {
	float: right;
	width: 150px;
	height: 16em;
}

.round4-top {
	line-height: 30.5em;
}


.round5-topwrap .round4-bottom {
	width: 149px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.round5-bottomwrap .round4-top {
	width: 149px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.round4-topwrap, .round4-bottomwrap, .tournament8-wrap {
	float: left;
	width: 600px;
}

.tournament16-wrap .round4-top {
	border-bottom: 1px solid #000;
}

/****** round 5 ******/

.round5-top, .round5-bottom {
	float: right;
	width: 150px;
	height: 32em;
}

.round5-top {
	line-height: 62.5em;
}

.tournament32-wrap .round5-top {
	border-bottom: 1px solid #000;
}

.round5-topwrap, .round5-bottomwrap, .tournament16-wrap {
	float: left;
	width: 750px;
}

/****** round 6 ******/

.round6-top, .round6-bottom {
	float: right;
	width: 150px;
	height: 32em;
}

.tournament32-wrap {
	float: left;
	width: 900px;
}

/****** styles for the winner column ******/
.winner3, .winner4, .winner5, .winner6 {
	font-weight: bold;
	font-style: italic;
}

.winner3 {
	line-height: 8em;
}

.winner4 {
	line-height: 16em;
}

.winner5 {
	line-height: 32em;
}

.winner6 {
	line-height: 64em;
}
